<div class="container d-flex justify-content-between">

  <!-- Handel Like display -->
  {% if comment.like_count == 1 %}
    <span class="likes">
      {{comment.like_count}} like
      <span class="like-list">
        {% for like in comment_likes %}
          {% if like.comment == comment %}
            {{like.user}}
          {% endif %}
        {% endfor%}
      </span>
    </span>
  {% elif comment.like_count >= 2 %}
    <span class="likes">
      {{comment.like_count}} likes
      <span class="like-list">
        {% for like in comment_likes %}
          {% if like.comment == comment %}
            {{like.user}}<br>
          {% endif %}
        {% endfor%}
      </span>
    </span>
  {% else %}
    <span class="likes">0 Likes</span>
  {% endif %}



  <!-- handel like button -->
  {% if comment in user_comment_likes %}
  <button style="border:none;" type="submit" name="comment_like" class="btn btn-outline-primary" disabled>
    <i class="far fa-thumbs-up"></i>
  </button>
  {% endif %}

  {% if comment not in user_comment_likes %}
  <!-- Liked, but not by usre -->
  <form class="d-inline-flex" method="POST">
    {% csrf_token %}
    {{comment_like_form}}
    <input type="hidden" name="comment_id_like" value="{{comment.id}}">
    <input type="hidden" name="like_comment" value="comment_like">
    <button style="border:none;" type="submit" name="comment_like" class="btn btn-outline-primary">
      <i class="far fa-thumbs-up"></i>
    </button>
  </form>
  {% endif %}

</div>
