{% load static %}
{% load crispy_forms_tags %}
<div class="ml-3">
  {% if replies %}
    {% for reply in replies %}
      {% if reply.comment == comment %}
      <!-- <div class="card"> -->
        <div style="background: lightgray;" class="card-body mb-1">
          <h6 class="card-title d-inline-flex">

            <!-- HANDEL AUTHOR IMAGE -->
            {% if reply.author.user_image %}
              <img height="40px" width="40px" class="rounded-circle" src="{{reply.author.user_image.url}}" alt="">
            {% else %}
              <img height="40px" width="40px" class="rounded-circle" src="{% static 'img/blankUser.png' %}" alt="">
            {% endif %}
            <div class="ml-2">
              &nbsp; ~ {{reply.author}}<br>
              <span style="font-size:.8em;" class="ml-3">{{reply.create_date}}</span>
            </div>
          </h6>

          <!-- HANDEL COMMENT CONTENT -->
          <p class="card-text">{{ reply.content }}</p>
          {% include 'reply_like.html' %}
        </div>
      <!-- </div> -->
      {% endif %}
    {% endfor %}
  {% else %}

  {% endif %}

  <div class="ml-5 mb-1">
    <form style="text-align: right;" method="POST">
      {% csrf_token %}
      {{ replyform | crispy }}
      <input type="hidden" name="parent_id" value="{{ comment.id }}">
      <input type="hidden" name="create_reply" value="reply">
      <button type="submit" name="reply" class="btn btn-secondary btn-sm">Reply</button>
    </form>
  </div>
</div>
