{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Blog By {{blog_id.author.username}}{% endblock %}

{% block content %}
<div class="container">
  <!-- Blog Header -->
  <h1>{{blog_id.title}}</h1>
  <br>
  <div class="d-flex">
    {% if blog_id.author.user_image %}
      <img height="100px" width="100px" class="rounded-circle" src="{{blog_id.author.user_image.url}}" alt="">
    {% else %}
      <img height="100px" width="100px" class="rounded-circle" src="{% static 'img/blankUser.png' %}" alt="">
    {% endif %}&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="">
      <h5><strong>{{blog_id.author}}</strong> &nbsp; a.k.a &nbsp; "{{blog_id.author.username}}"</h5>
      <p class="mt-5 ml-5">{{blog_id.create_date}}</p>
    </div>
  </div>
  <br>
  <hr>
  <br>


  <!-- Blog Content -->
  <div class="container mb-5">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-8 col-lg-8">
        {{blog_id.content}}
      </div>
    </div>
  </div>
  <br>

  <!-- Like count and form -->
  <div class="container">
    <div class="row">

      <!-- Count -->
      <div class="col-6">
        <h6>{{blog_id.like}} Likes</h6>
      </div>

      <!-- Handel Form -->
      <div class="col-6 text-right">
        {% if does_user_like %}
          <button style="border:none;" type="submit" class="btn btn-outline-primary btn-lg" disabled>
            <i class="far fa-thumbs-up"></i>
          </button>
          <br><br>
        {% else %}
          <form method="POST">
            {% csrf_token %}
            {{ blog_like_form }}
            <button style="border:none;" type="submit" class="btn btn-outline-primary btn-lg">
              <i class="far fa-thumbs-up"></i>
            </button>
          </form>
          <br><br>
        {% endif %}
      </div>

    </div>
  </div>

</div>
{% endblock %}
